.logo{
    max-width: 2rem;
    &-lg{
        max-width: 6rem;
    }
}

.content{
    background: $secondary-color;
    margin-top: .8rem;
    padding: 1rem .6rem;
    
    .block{
        border-bottom: 2px solid white; 
        margin-bottom: 30px; 
        padding-bottom: 20px;
    }
}
.menu-icon{
    float: right;
}
.menu a{
    text-transform: uppercase;
    font-family: $lato-font;
    font-size: .8rem;
    letter-spacing: .2rem;
}
.milestone{
    p b{
        display: block;
    }
}
.button{
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-decoration: none;
}
footer{
    background: $primary-color;
    padding: 30px 0; 
    text-align: center;
    position: relative;
    margin-top: 25px;
}

 @include breakpoint(medium down) {
    .orbit-wrapper{
        background: rgba($black, 0.5);
    }
    .orbit-caption{
        position: static;
        text-align: center;
        font-size: .9rem;
        h3{
            font-size: 1.6rem;
        }
    }
  }

  @include breakpoint(medium up){
    .content{
        padding: 40px 20px ;
        .block{
            border-bottom: none;
            border-right: 2px solid white;
            &:last-child{
                border-right: none;
            }
        }
    }
  }