.logo{
    max-width: 2rem;
    &-lg{
        max-width: 6rem;
    }
}
// Content Area
.content{
    background: $secondary-color;
    margin-top: .8rem;
    padding: 1rem .6rem;
    .banner{
        width: 100%;
    }
    .block{
        border-bottom: 2px solid white;
        margin-bottom: 30px;
        padding-bottom: 20px;
        &:last-child{
                border: none;
            }
    }
    .intro{
        text-align: center;
    }
}
.dropdown.medium-horizontal{
    ul.menu{
        border-top: 3px solid $secondary-color;
        box-shadow: 0px 5px 9px rgba($black, 0.5);
    }
}
.menu-icon{
    float: right;
}
.menu a{
    text-transform: uppercase;
    font-family: $lato-font;
    font-size: .9rem;
    letter-spacing: .3rem;
}
.milestone{
    p b{
        display: block;
    }
}
.button{
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-decoration: none;
}
// forms

form *{
    text-transform: uppercase;
    letter-spacing: .2rem;
}
.contact input[type='submit']{
    float: right;
}
// About
.key-personel {
    .profile{
        display: block;
        margin-bottom: 30px;
        clear: both;
        overflow: auto;
    }
    .name{
        font-weight: bold;
        float: left;
        padding-top: 30px;
        .position{
            font-weight: normal;
            display: block;
        }
    }
    img{
        float: left;
        margin-right: 1rem;
    }
}
// projects
/* fluid 5 columns */
.grid-sizer,
.grid-item {
    width: 100%;
    margin: .6rem 0;
}
.grid-item{
      float: left;
      span{
          padding: 1rem;
          background: $primary-color;
          display: block;
      }
      img{
          width: 100%;
      }
}
/* 2 columns */

// footer
footer{
    background: $primary-color;
    padding: 30px 0;
    text-align: center;
    position: relative;
    margin-top: 25px;
}
// media queries
 @include breakpoint(medium down) {
    .orbit-wrapper{
        background: rgba($black, 0.5);
    }
    .orbit-caption{
        position: static;
        text-align: center;
        font-size: .9rem;
        h3{
            font-size: 1.6rem;
        }
    }
  }
  @include breakpoint(medium up){
    .menu.simple {
        li{
            margin-right: 2rem;
        }
    }
    .grid-sizer,
    .grid-item {
        width: 31%;
        margin: 1%;
    }
}
  @include breakpoint(large up){
    .content{
        padding: 40px 20px ;
        .block{
            border-bottom: none;
            border-right: 2px solid white;
        }
        .intro{
            text-align: left;
        }
    }
    .orbit-caption{
        background-color: rgba($black, 0.5);
    }
    .contact form{
        max-width: 90%;
    }
    .grid-sizer,
    .grid-item {
        width: 23%;
        margin: 1%;
    }
  }

  // responsive menu
$topbar-responsive-animation-type: fade-in; // or use slide-down or none

.topbar-responsive {
    padding: 10px 40px;
  .topbar-responsive-logo {
    color: $white;
    vertical-align: middle;
  }

  .menu {
    li:last-of-type {
      margin-right: 0;
    }

    a {
      color: $white;
      transition: color 0.15s ease-in;

      &:hover {
        color: $secondary-color;
      }

       @include breakpoint(small down) {
        padding: 0.875rem 0;
      }
    }
  }

    @include breakpoint(small down) {
    padding: 0 15px;
    .top-bar-title {
      position: relative;
      width: 100%;
        // hamburger
      span {
        position: absolute;
        right: 0;
        padding: 0.25rem 0.45rem;
        top: 50%;
        transform: translateY(-50%);

        .menu-icon {
          margin-bottom: 4px;
        }
      }
    }
  }
}
@include breakpoint(small only) {
  .topbar-responsive-links {
    animation-fill-mode: both;
    animation-duration: 0.2s;
    width: 100%;

    @if $topbar-responsive-animation-type == slide-down {
      animation: slideDown .5s ease-in;
    } @else if $topbar-responsive-animation-type == fade-in {
      animation: fadeIn .5s ease-in;
    } @else {
      animation: none;
    }
  }
}
.m-scene {
  /** Basic styles for an animated element */
  .scene_el {
    animation-duration: 0.15s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
  }
  .scene_element-fadein {
    animation-name: fadeIn;
  }

  .scene_element-slideDown {
    animation-name: slideDown;
  }
  .scene_element-slideUp {
    animation-name: slideUp;
  }
}
//   icons
/*--------------------------------

sarnatec Web Font - built using nucleoapp.com
License - nucleoapp.com/license/

-------------------------------- */
@font-face {
  font-family: 'sarnatec';
  src:  url('../fonts/sarnatec.eot') format('embedded-opentype'),
        url('../fonts/sarnatec.woff2') format('woff2'),
        url('../fonts/sarnatec.woff') format('woff'),
        url('../fonts/sarnatec.ttf') format('truetype'),
        url('../fonts/sarnatec.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*------------------------
	base class definition
-------------------------*/
.nc-icon {
  display: inline-block;
  font: normal normal normal 14px/1 'sarnatec';
  font-size: 1.5rem;
  padding: 5px;
  text-decoration: none;
  text-transform: none;
  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    transform: scale(1);
    transition: transform .3s linear;
  &:hover{
      transform: scale(1.5);
      transition: transform .2s linear;
  }
}
/*------------------------
  list icons
-------------------------*/
.nc-icon-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}
.nc-icon-ul > li {
  position: relative;
}
.nc-icon-ul > li > .nc-icon {
  position: absolute;
  left: -1.57142857em;
  top: 0.14285714em;
  text-align: center;
}
.nc-icon-ul > li > .nc-icon.lg {
  top: 0;
  left: -1.35714286em;
}
.nc-icon-ul > li > .nc-icon.circle,
.nc-icon-ul > li > .nc-icon.square {
  top: -0.19047619em;
  left: -1.9047619em;
}
/*------------------------
  rotated/flipped icons
-------------------------*/

/*------------------------
	font icons
-------------------------*/

.nc-linkedin::before {
    content: "\ea02";
}

.nc-youtube::before {
    content: "\ea03";
}

.nc-tumblr::before {
    content: "\ea04";
}

.nc-facebook::before {
    content: "\ea05";
}

.nc-mail::before {
    content: "\ea06";
}

/* all icon font classes list here */
